<div id="<%= dom_id to_do_feature %>">
  <p>
    <strong>Name:</strong>
    <%= to_do_feature.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= to_do_feature.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= to_do_feature.status %>
  </p>

  <p>
    <strong>Todoid:</strong>
    <%= to_do_feature.todoId %>
  </p>

</div>
