<p style="color: green"><%= notice %></p>

<% content_for :title, "To do features" %>

<% if @todo %>
  <h1>Welcome to, <%= @to_do.name %></h1>
  <% else %>
  <h1>All Todo Feature</h1>
<% end %>

<%= link_to "Back your task", to_dos_path %>
<div id="to_do_features">
  <% @to_do_features.each do |to_do_feature| %>
    <%= render to_do_feature %>
    <p>
      <%= link_to "Show this to do feature", to_do_feature %>
    </p>
  <% end %>
</div>

<%= link_to "New to do feature", new_to_do_feature_path %>
